@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: black;
}

body *{
  @apply transition-colors duration-200;
}

.borderbtn {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #fb7185, rgb(217 70 239 / 1), rgb(99 102 241 / 1)) 1;
}

.hoverborder{
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
}

.hoverborder:hover{
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #fb7185, rgb(217 70 239 / 1), rgb(99 102 241 / 1)) 1;
}

.imageabout{
  position: relative;
  width: 300px;
  height: 300px;
}

.imageprojects{
  position: relative;
  width: 700px;
  height: 350px;
}

.imageskills{
  position: relative;
  width: 50px;
  height: 50px;
}

@media (max-width: 640px) {
  .hoverborder {
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, #fb7185, rgb(217 70 239 / 1), rgb(99 102 241 / 1)) 1;
  }

  .imageabout{
    position: relative;
    width: 200px;
    height: 200px;
  }

  .imageprojects{
    position: relative;
    width: 250px;
    height: 200px;
  }
}